@{
    ViewData["Title"] = "Home Page";
}



<div class="hoverTextContent"></div>
<img width="100%" src="~/img/street-8.jpg">
<div class="hoverText"></div>
<div id="cdiv">
    <h1 class="fwhite">Start Now</h1>
    <p class="fwhite">Welcome to the YouStreet</p>
    <a class="btn btn-success btn-lg" href="Account/Login">Log in</a>
</div>